<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nam đẹp trai</title>
</head>

<body>
    <h1>Nam đẹp trai</h1>
    <form method="post" action="/setup-profile">
        <button type="submit">Set up profile</button>
    </form>
</body>

</html>